bin/sqitch
share/
tmp/
data/
!t/sql/data/
sqitch.conf
.cpanm/
local/
.ssh/
.zsh_history
.gitconfig
.cache/
.cpan/
.neocomplcache/
.lesshst
.perltidyrc
.vim-cpan-module-cache
.viminfo
data/
scratchpad/
site/
