[core]
	engine = pg
	# plan_file = sqitch.plan
	# top_dir = .
	# deploy_dir = deploy
	# revert_dir = revert
	# verify_dir = verify
	# extension = sql
[core "pg"]
	db_name = <db-name>
	# client = psql
	# username = 
	# password = 
	# host =  
	# port = 
	# sqitch_schema = sqitch
